@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.slow {
    opacity: 0;
    transition: 2s;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: rgb(68, 68, 68);
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}
.context-menu__item {
    padding: 10px;
    cursor: pointer;
}
.context-menu__item:hover {
    background-color: #555555;
}

.container {
    display: none;
}

li {
    list-style-type: none;
}

.delete-button { 
    display: none; 
    margin-left: 10px; 
    cursor: pointer; 
    color: red; 
} 
li:hover .delete-button { 
    display: inline;
 }

body {
    background-color: rgb(17, 17, 18);
    font-family: "Montserrat", sans-serif;
}

header {
    display: none; /* Hide desktop header */
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 53, 56);
    padding: 10px;
}

#header_text {
    color: white;
    margin: 0;
}

#header_text_mobile {
    color: white;
    margin: 0;
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#main {
    padding-left: 300px; 
    color: white;
}

#menu {
    background-color: rgb(53, 53, 56);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

#menu_point {
    padding-left: 0;
}

#menu_bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 0;
    margin: auto;
}

#hint {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    width: 95%;
    text-align: left;
}

#hint p {
    color: white;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

#hint img {
    margin: 5px;
}

textarea {
    border: none; 
    outline: none;
    resize: none;
    width: 70%;
    background-color: rgba(0,0,0,0.0);
    font-size: 20px;
    color: white;
    overflow-y: hidden;
}

/* ------------------------ */
@media (max-width: 700px) {
    header {
        display: flex; /* Show mobile header */
    }
    #main {
        padding-left: 10px;
    }
    #menu {
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
    #menu.open {
        transform: translateY(0);
    }
    #header_text {
        display: none;
    }
    #header_text_mobile {
        display: block;
    }
}
